*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1
}
article{
    width: 66%;
    margin: auto;
    background-color: #ffffff;
    padding: 0px 32px;
}
footer{
    width: 66%;
    margin: 50px auto;
}
article header .title{
    font-size: 48px ;
    padding: 0px;
    color: #141414;
    line-height: 58px;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 18px;
    font-weight: 700;
    letter-spacing: -1px;
}
abbr{
    text-decoration: none;
}
article header .subtitle{
    font-size: 20px;
    color: #626262;
    line-height: 30px;
    margin-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.article-link{
    color: #f1bb00;
    font-weight: bold;
}
.article-link:hover{
    color: #f6c155;
}
.author-container{
    padding: 5px 16px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.publication-date{
    font-size: 11px;
}
.content-column{
    width: 70%;
}
.in-article-image{
    width: 100%;
    margin-bottom: 32px;
}
.list-title{
    font-size: 16px;
    margin-bottom: 18px;
}
.author-container small{
    color: #141414;
    display: block;
    margin: 6px;
    padding: 3px 16px;
    position: relative;
    left: 350px;
    font-size: 15px;
    border-left: 1px solid #e0e0e0;
}
.in-article-image img{
    width: 100%;
}
.in-article-image figcaption {
    font-size: 11px;
    color: #141414;
}
.in-article-image figcaption b{
    font-size: 14px;
    font-weight: 700;
    color: #2c2c2c;
}
.content-column{
    font-family: 'Open Sans', sans-serif;
}
.content-column p{
    line-height: 29px;
    font-size: 16px;
    color: #141414;
    margin-bottom: 12px;
}
.content-column ul,ol{
    padding: 0px;
    margin-bottom: 36px;
}
.content-column ul li,ol li{
    margin-left: 20px;
    margin-bottom: 18px ;
}
.next-article-link{
    color: #fff;
    background-color: #f1bb00;
    padding: 20px;
    text-decoration: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.next-article-link:hover{
    background-color: #f6c155;
}